# dependencies
node_modules/
.pnpm-store/

# build output
dist/
build/
*.tsbuildinfo

# wasm build artifacts
target/
pkg/

# env & local
.env
.env.local
*.local

# editor / OS
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea/

# logs
*.log
npm-debug.log*
pnpm-debug.log*
